<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WF_QLTV_Thi.Properties.Settings.QLThuVienConnectionString"
            connectionString="Data Source=LAPTOP-LC4HKGSK;Initial Catalog=QLThuVien;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>